<div class="container">
  <% if @recipe.errors.any? %>
  <%= @recipe.errors.count %>件のエラーが発生しました
  <ul>
    <% @recipe.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
  
  <%= form_with model:@recipe, url: recipes_path, method: :post do |f| %>
    <div class="row">
      <table class="table-border:none">
        <tr><th>料理画像</th></tr>
        <tr>
          <td><div class="form-group col-md-12"><%= f.file_field :image %></div></td>
        </tr>
        <tr>
          <th>料理名</th>
          <th>レシピ紹介文</th>
        </tr>
        <tr>
          <td><div class="form-group col-md-6"><%= f.text_field :title, size:"30" %></div></td>
          <td><div class="form-group col-md-6"><%= f.text_area :body, size:"50x2" %></div></td>
        </tr>
        <tr>
          <th>材料</th>
          <th>作り方</th>
        </tr>
        <tr>
          <td><div class="form-group col-md-6"><%= f.text_area :ingredient, size:"30x4" %></div></td>
          <td><div class="form-group col-md-6"><%= f.text_area :instruction, size:"50x4" %></div></td>
        </tr>
      </table>
    </div>
    <div class="row mb-2">
      <div class="col-md-12">
        <%= f.submit "投稿", class:"btn btn-success my-4" %>
      </div>
    </div>
  <% end %>
</div>