<div class="container">
  <div class="row">
    <div class="col-md-6">
      <% if @recipe.image.attached? %>
        <%= image_tag @recipe.image, :width => '100%' %>
      <% else %>
        <%= image_tag 'no_image.png', :width => '100%' %>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="recipe-title">
        <h1><%=safe_join(@recipe.title.split("\n"),tag(:br))%></h1>
        <%= link_to user_path(@recipe.user.id) do %>
          <p><i class="fa-solid fa-user" style="color: #3061b5;"></i> <%= @recipe.user.name %></p>
        <% end %>
      </div>
        <h4 class="icon">
          <% if user_signed_in? %>
            <% if @recipe.favorited_by?(current_user) %>
                <%= link_to recipe_favorites_path(@recipe), method: :delete do %>
                  <i class="fa-solid fa-star" style="color: #ffc800;"> <%= @recipe.favorites.count %>　</i>
                <% end %>
            <% else %>
                <%= link_to recipe_favorites_path(@recipe), method: :post do %>
                  <i class="fa-regular fa-star" style="color: #ffc800;"> <%= @recipe.favorites.count %>　</i>
                <% end %>
            <% end %>
          <% else %>
                <i class="fa-solid fa-star" style="color: #ffc800;"> <%= @recipe.favorites.count %>　</i>
          <% end %>
          <i class="fa-solid fa-comment" style="color: #28cff0;"> <%= @recipe.recipe_comments.count %>　</i>
          <% if @recipe.user == current_user %>
            <%= link_to edit_recipe_path(@recipe.id) do %>
              <i class="fa-solid fa-gear" style="color: #189a2e;"></i>
            <% end %>
            <%= link_to recipe_path(@recipe.id), method: :delete,"data-confirm" => "本当に削除しますか？" do %>
              <i class="fa-solid fa-trash-can" style="color: #fb6060;"></i>
            <% end %>
          <% end %>
        </h4>

      <h4 class="recipe-body mt-5"><%=safe_join(@recipe.body.split("\n"),tag(:br))%></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h2 class="instruction mt-5">作り方</h2>
      <%=safe_join(@recipe.instruction.split("\n"),tag(:br))%>
    </div>
    <div class="col-md-3 ml-auto">
      <h2 class="ingredient mt-5">材料</h2>
      <%=safe_join(@recipe.ingredient.split("\n"),tag(:br))%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h3 class="comments mt-5">みんなのコメント</h3>
    <% @recipe.recipe_comments.each do |recipe_comment| %>
      <p>
        <i class="fa-solid fa-user" style="color: #28cff0;"></i> <strong><%= recipe_comment.user.name %>　</strong>
        <% if recipe_comment.user == current_user %>
          <%= link_to recipe_recipe_comment_path(recipe_comment.recipe, recipe_comment), method: :delete do %>
            <i class="fa-solid fa-trash-can" style="color: #fb6060;"></i>
          <% end %>
        <% end %><br>
        <%= recipe_comment.comment %>
      </p>
    <% end %>
    </div>
    <div class="col-md-3 ml-auto">
      <div class="comment-form mt-5">
        <%= form_with model: [@recipe, @comment] do |f| %>
          <%= f.text_area :comment, size:"30x5", placeholder: "コメントをここに" %><br>
          <%= f.submit "投稿", class:"btn btn-success mb-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
