<div class="container">
  <h2>
    <%=@user.name %> さんのユーザー情報
    <%= link_to edit_admin_user_path(@user.id) do %>
      <i class="fa-solid fa-gear" style="color: #189a2e;"></i>
    <% end %>
  </h2>
  <div class="row">
    <div class="col">
      <table class="table mt-3">
        <tr>
          <th>ユーザーID</th>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <th>ユーザー名</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <td>
            <% if @user.is_active == true %>
              <p class="text-success font-weight-bold">有効</p>
            <% else %>
              <p class="text-secondary">退会</p>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <h2>コメント一覧</h2>
  <div class="row">
    <div class="col">
      <table class="table mt-3">
        <% @recipe_comments.each do |recipe_comment| %>
          <tr>
            <td><%= recipe_comment.comment %></td>
            <td>
              <%= link_to admin_user_recipe_comment_path(@user, recipe_comment), method: :delete do %>
                <i class="fa-solid fa-trash-can" style="color: #fb6060;"> 削除</i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

