<div class="container">
  <div class="row">
    <div class="col">
      <h3><%= flash[:danger] %></h3>
      <h2>ログイン</h2>
      
      <%= form_with model: @user, url: user_session_path do |f| %>
        <div class="field mt-3">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      
        <div class="field mt-3">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      
        <div class="actions mt-3">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col mt-3">
      <h5l>会員登録がお済みでない方</h5>
      <p>　<%= link_to "こちら", new_user_registration_path %>　から新規登録をお願いいたします。</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col mt-3">
      <h5l>ゲストアカウントでログインされる方</h5>
      <p>　<%= link_to "こちら", users_guest_sign_in_path, method: :post %>　からログインをお願いいたします。</p>
    </div>
  </div>
</div>

